@import "../variables.scss";

body:global(.light) .article .cornerBorderDiv .cornerBorder .imgBox {
  background: #fff;
}
body:global(.light) .article .cornerBorderDiv .cornerBorder .imgBoxTwo {
  background: #fff;
}
body:global(.light)
  .article
  .cornerBorderDiv
  .cornerBorder
  .bottom
  .bottomTitle {
  background: #fff;
}
body:global(.light)
  .article
  .cornerBorderDiv
  .cornerBorder
  .bottom
  .bottomTitle
  .ttl {
  color: $c-dark;
}
body:global(.light)
  .article
  .cornerBorderDiv
  .cornerBorder
  .bottom
  .bottomTitle
  .ttlTwo {
  color: $c-dark;
}
body:global(.light)
  .article
  .cornerBorderDiv
  .cornerBorder
  .bottom
  .bottomLevel {
  .itemDot {
    color: $c-dark;
  }
  .itemDot:after {
    background-color: $c-secondary;
  }

  .level {
    color: $c-dark;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &.beginner:before {
      background: #259c55;
    }
    &.intermediate:before {
      background: #bb0ba9;
    }
    &.advance:before {
      background: #0b91bb;
    }
    &.pro:before {
      background: #ff7152;
    }
  }
}
.article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
  .cornerBorderDiv {
    display: flex;
    .cornerBorder {
      position: relative;
      width: 100%;
      height: 100%;

      .imgBox {
        padding-top: 67.7%;
        overflow: hidden;
        background: #0a0f18;
        margin: 10px 10px 0px 10px;
        position: relative;
        .imgAbsolute {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .imgBoxTwo {
        padding-top: 40.7%;
        overflow: hidden;
        background: #0a0f18;
        margin: 10px 10px 0px 10px;
        .imgAbsolute {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          object-fit: cover;
          height: 80%;
        }
      }

      img {
        transition: 0.4s;
        padding: 20px 20px 0px 20px;
      }

      &:hover img {
        transform: scale(1.02);
      }

      .pins {
        position: absolute;
        top: 27px;
        left: 26px;
        width: calc(100% - 32px);

        display: flex;
        flex-wrap: wrap;
      }

      .bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        // min-height: 150px;

        .bottomTitle {
          background: #0a0f18;
          margin: 0px 10px 10px 10px;
          .ttl {
            line-height: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 0px 16px 16px 16px;
            min-height: 60px;
            display: flex;
            align-items: center;
          }
          .ttlTwo {
            line-height: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 16px 16px;
            min-height: 60px;
            display: flex;
            align-items: center;
            margin-top: 100px;
          }
        }

        .bottomLevel {
          padding-left: 12px;
          padding-top: 16px;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;
          .itemDot {
            position: relative;
            font-size: 12px;
            padding-right: 15px;
            margin-right: 10px;
            margin-bottom: 16px;
            color: $c-white;
          }
          .itemDot:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $c-secondary;
          }
          .itemDot:last-child:after {
            display: none;
          }
          .itemDot:last-child {
            margin-right: 0;
            margin-right: 0;
          }

          .level {
            position: relative;
            margin-top: auto;
            padding-left: 12px;
            font-size: $f-smallest;
            text-transform: uppercase;
            color: $c-white;

            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 8px;
              height: 8px;
              border-radius: 50%;
            }

            &.beginner:before {
              background: #259c55;
            }
            &.intermediate:before {
              background: #bb0ba9;
            }
            &.advance:before {
              background: #0b91bb;
            }
            &.pro:before {
              background: #ff7152;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .list {
    .item {
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  .article .cornerBorderDiv .cornerBorder .imgBoxTwo .imgAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 70%;
  }
}
