.articlesHeader {
  margin-top: 161px;

  .title {
    font-size: 51px;
    line-height: 71px;
    text-align: center;
  }
}

body:global(.light) .articlesHeader {
  .title {
    color: #00050f;
  }
}
