@import "../variables.scss";

body:global(.light) .articlePage {
  .imgBox {
    .imgBoxImg {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 778px;
    }
  }
  .categoryTags .tags {
    border-top: 1px solid #cccdcf;
    border-bottom: 1px solid #cccdcf;
  }

  .backBtn {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 16px;
    margin-top: 50px;
    color: $c-orange;
    gap: 7px;
    font-family: "Lack-Regular";
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);

    .backSvg {
      &:hover {
        fill: $bg-blue;
      }
    }

    &:hover {
      color: $bg-blue;
    }
  }

  .top {
    .exploreArticles {
      h2 {
        color: $c-dark;
      }
    }
    .icons {
      .lightIcons {
        .socialIcon {
          fill: $c-dark;

          &:hover {
            fill: $c-blue;
          }
        }
      }
    }
    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 161px;
      padding-bottom: 100px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(211, 222, 245, 0.5) 0%,
        rgba(211, 222, 245, 0) 100%
      );
      font-family: "Lack-Regular";

      .info {
        .icon {
          svg path {
            fill: #454a54;
          }
        }

        .iconDate {
          svg path {
            stroke: #454a54;
          }

          circle {
            fill: #454a54;
          }
        }
      }
    }
  }

  .top .infoDiv {
    .icons {
      .lightIcons {
        .socialIcon {
          fill: $c-dark;

          &:hover {
            fill: $c-blue;
          }
        }
      }
    }
  }

  .top .infoDiv .title {
    @extend %largest;
    font-family: "Lack-Regular";
    color: $c-dark;
    line-height: 71.4px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;

    .item {
      position: relative;
      display: flex;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;
      font-family: "Lack-Regular";
      color: $c-dirty-grey;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }

      .value {
        color: $c-dirty-grey;
      }
    }

    .icon {
      flex: none;

      svg path {
        transition: 0.4s;
        fill: $bg-dark;
      }
    }

    .iconDate {
      flex: none;

      svg path {
        stroke: $bg-dark;
      }
    }

    .value {
      display: flex;
      @extend %smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
      font-family: "Lack-Regular";
    }
  }

  .content {
    width: 60%;
    margin-left: 30%;
    margin-bottom: 45px;
    font-family: "Lack-Regular";
  }
}

.articlePage {
  .imgBox {
    .imgBoxImg {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 778px;
    }
  }

  .backBtn {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    & p {
      color: #ff7152;
      font-size: 15px;
      line-height: 16px;
      text-transform: capitalize;
    }
    svg {
      transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    }
  }
  .backBtn:hover {
    & p {
      color: #0500ff;
    }

    path {
      fill: #0500ff;
    }

    svg {
      transform: translateX(-5px);
    }
  }

  .top {
    .categoryTags {
      margin-top: 140px;
      .tags {
        margin-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 26px 0;
        :first-child {
          margin-left: 160px;
        }
      }
      .icons {
        margin-left: 160px;
      }
    }
    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 161px;
      padding-bottom: 100px;

      background: radial-gradient(
        50% 50% at 50% 50%,
        #000f2e 0%,
        rgba(0, 5, 15, 0) 100%
      );
      font-family: "Lack-Regular";
      .icons {
        .lightIcons {
          padding-top: 20px;
          flex-wrap: wrap;
          display: flex;
          align-items: center;
          gap: 20px;
          .socialIcon {
            transition: 0.5s cubic-bezier(0.79, 0.01, 0.15, 0.99);
            &:hover {
              fill: $c-blue;
            }
          }
        }
      }
    }
    .icons {
      .lightIcons {
        padding-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .socialIcon {
          transition: 0.5s cubic-bezier(0.79, 0.01, 0.15, 0.99);
          &:hover {
            fill: $c-blue;
          }
        }
      }
    }
  }

  .top .infoDiv .title {
    @extend %largest;
    font-family: "Lack-Regular";
    line-height: 71.4px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;
    justify-content: center;

    svg:nth-child(3n) path {
      stroke: #b2b4ba;
    }

    .item {
      position: relative;
      display: flex;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;
      font-family: "Lack-Regular";
      color: #b2b4ba;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }

    .iconDate {
      flex: none;

      svg path {
        stroke: #b2b4ba;
      }
    }

    .icon {
      flex: none;

      svg path {
        fill: #b2b4ba;
      }
    }

    .value {
      display: flex;
      @extend %smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
      font-family: "Lack-Regular";
      color: #b2b4ba;
    }
  }

  .content {
    width: 60%;
    margin-left: 30%;
    margin-bottom: 45px;
    font-family: "Lack-Regular";
  }

  .exploreArticles {
    margin-top: 178px;
    font-family: "Lack-Regular";
    h2 {
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }
    .featured {
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 30px;
    }
  }

  .wrapper {
    min-height: calc(100vh - 90px);
  }
}

.innerCarousel {
  min-width: 30rem;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .articlePage,
  body:global(.light) .articlePage {
    .content {
      width: 100%;
      margin-left: 0px;
    }
  }
  .articlePage {
    .top {
      .categoryTags {
        .tags {
          :first-child {
            margin-left: 40px;
          }
        }
        .icons {
          margin-left: 40px;
        }
      }
    }

    .exploreArticles {
      .featured {
        padding-left: 32px;
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 767px) {
  .articlePage {
    .exploreArticles {
      .featured {
        padding-left: 16px;
      }
    }
  }
}
