@import "../variables.scss";

body:global(.light) .articlePage {
  .imgBox {
    .imgBoxImg {
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 100%;
      max-height: 778px;
    }
  }

  .backBtn {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 50px;
    color: $c-orange;
    margin-left: 40px;
    gap: 7px;
    font-family: "Lack-Regular";
    cursor: pointer;
    transition: 0.4s;

    .backSvg {
      &:hover {
        fill: $bg-blue;
      }
    }

    &:hover {
      color: $bg-blue;
    }
  }

  .top {
    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 161px;
      padding-bottom: 100px;
      background: radial-gradient(50% 50% at 50% 50%,
          rgba(211, 222, 245, 0.5) 0%,
          rgba(211, 222, 245, 0) 100%);
      font-family: "Lack-Regular";

      .info {
        .icon {
          svg path {
            fill: #454a54;
          }
        }

        .iconDate {
          svg path {
            stroke: #454a54;
          }

          circle {
            fill: #454a54;
          }
        }
      }
    }

    .switch {
      display: flex;
      width: 10vw;
      height: 10vh;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .btn {
        position: relative;
        display: inline-block;
        text-align: left;
        opacity: 1;
        direction: ltr;
        border-radius: 14px;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        transition: opacity 0.25s;
        touch-action: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  .top .infoDiv {
    .bottomSocialIcons {
      display: flex;

      .lightIcons {
        display: flex;
      }
    }
  }

  .top .infoDiv .title {
    @extend %largest;
    font-family: "Lack-Regular";
    color: $c-dark;
    line-height: 71.4px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;

    .item {
      position: relative;
      display: flex;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;
      font-family: "Lack-Regular";
      color: $c-dirty-grey;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }

      .value {
        color: $c-dirty-grey;
      }
    }

    .icon {
      flex: none;

      svg path {
        transition: 0.4s;
        fill: $bg-dark;
      }
    }

    .iconDate {
      flex: none;

      svg path {
        stroke: $bg-dark;
      }
    }

    .value {
      display: flex;
      @extend %smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
      font-family: "Lack-Regular";
    }
  }

  .content {
    margin-top: 70px;
    width: 60%;
    margin-left: 30%;
    margin-bottom: 45px;
    font-family: "Lack-Regular";
  }

  .bottomMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 92px;
    font-family: "Lack-Regular";

    .bottomSocialIcons {
      display: flex;
      margin-left: 10%;

      .lightIcons {
        display: flex;
      }
    }

    .categories {
      margin-top: 30px;
      display: flex;
      border-top: 1px solid #cccdcf;
      border-bottom: 1px solid #cccdcf;
      padding-top: 28px;
      padding-bottom: 28px;
      align-items: center;
      flex-wrap: wrap;

      div {
        margin-right: 10px;
        font-family: "Lack-Regular";
        background-color: #dfe1e5;
        color: $c-dark;

        &:first-child {
          margin-left: 10%;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .wrapper {
    min-height: calc(100vh - 90px);
  }

  .container-sm {
    width: 100%;
    max-width: 1920px;
    padding: 0 285px;
    margin: 0 auto;
  }
}

.articlePage {
  .imgBox {
    .imgBoxImg {
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 100%;
      max-height: 778px;
    }
  }

  .backBtn {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 50px;
    color: $c-orange;
    margin-left: 40px;
    gap: 7px;
    font-family: "Lack-Regular";
    cursor: pointer;
    transition: 0.4s;

    .backSvg {
      &:hover {
        fill: $bg-blue;
      }
    }

    &:hover {
      color: $bg-blue;
    }
  }

  .top {
    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 161px;
      padding-bottom: 100px;

      background: radial-gradient(50% 50% at 50% 50%,
          #000f2e 0%,
          rgba(0, 5, 15, 0) 100%);
      font-family: "Lack-Regular";
    }

    .switch {
      display: flex;
      width: 10vw;
      height: 10vh;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .btn {
        position: relative;
        display: inline-block;
        text-align: left;
        opacity: 1;
        direction: ltr;
        border-radius: 14px;
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        transition: opacity 0.25s;
        touch-action: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  .top .infoDiv .title {
    @extend %largest;
    font-family: "Lack-Regular";
    line-height: 71.4px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    align-items: center;

    svg:nth-child(3n) path {
      stroke: #b2b4ba;
    }

    .item {
      position: relative;
      display: flex;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;
      font-family: "Lack-Regular";
      color: #b2b4ba;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }

    .iconDate {
      flex: none;

      svg path {
        stroke: #b2b4ba;
      }
    }

    .icon {
      flex: none;

      svg path {
        fill: #b2b4ba;
      }
    }

    .value {
      display: flex;
      @extend %smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
      font-family: "Lack-Regular";
      color: #b2b4ba;
    }
  }

  .content {
    margin-top: 70px;
    width: 60%;
    margin-left: 30%;
    margin-bottom: 45px;
    font-family: "Lack-Regular";
  }

  .bottomMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 92px;
    font-family: "Lack-Regular";

    .bottomSocialIcons {
      display: flex;
      margin-left: 10%;
    }

    .categories {
      margin-top: 30px;
      display: flex;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding-top: 28px;
      padding-bottom: 28px;
      align-items: center;
      flex-wrap: wrap;

      div {
        margin-right: 10px;
        font-family: "Lack-Regular";

        &:first-child {
          margin-left: 10%;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .exploreArticles {
    margin-top: 140px;
    font-family: "Lack-Regular";
  }

  .container {
    width: 100%;
    max-width: 1920px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .wrapper {
    min-height: calc(100vh - 90px);
  }

  .container-sm {
    width: 100%;
    max-width: 1920px;
    padding: 0 285px;
    margin: 0 auto;
  }
}

.innerCarousel {
  min-width: 30rem;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.carouselContainer {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1023px) {

  .articlePage,
  body:global(.light) .articlePage {
    .backBtn {
      margin-left: 0px;
    }

    .content {
      width: 100%;
      margin-left: 0px;
    }

    .carouselContainer {
      padding-left: 32px;
      padding-right: 0px;
    }
  }
}

@media (max-width: 767px) {
  .articlePage {
    .carouselContainer {
      padding-left: 16px;
    }
  }
}