@import '../variables.scss';

body:global(.light) .introBox {

    .inner {

        .title {
            text-align: center!important;
            background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
            background-size: cover;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.introBox {
    margin-top: 100px;
    width: 100%;

    .inner {
        display: flex;
        flex-direction: column;
        width: 55%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        text-align: center;

       
        .title span {
            color: $c-orange;
            @extend %largest
        }
    
        .teaser {
            margin-top: 35px;
            width: 75%;
            color: $c-secondaryGray;
        }
    }

}

@media (max-width: 1690px) {
    .introBox {
        .inner {
            width: 70%;
        }
    }
}

@media (max-width: 1023px) {
    .introBox {
        .inner {
            width: 100%;
        }
    }
}
