@import "../../variables.scss";

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 50px 0px 50px 0px;

  .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    cursor: pointer;
    
  }
  .content {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
  }
}
