@import "../variables.scss";

body:global(.light) .headerMainWrap {
  background: none;

  .backgroundDark {
    opacity: 0;
  }

  .iconsWrapp {
    .img path {
      margin-right: 15px;
      fill: #00050f !important;
    }
  }
}

.headerMainWrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  top: -90px;
  background: linear-gradient(180deg, #00050f 0%, rgba(0, 5, 15, 0) 71.47%),
    linear-gradient(180deg, rgba(0, 5, 15, 0) 28.25%, #00050f 100%),
    rgba(0, 5, 15, 0.3);

  .backgroundDark {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .heder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 100px 0px 100px 0px;
    gap: 10px;
    top: 100px;

    .secondWrap {
      margin-bottom: 5px;

      .titleIcon {
        border-radius: 50%;
      }
    }
  }

  .secondBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 55px 0px 100px 0px;
    gap: 8px;

    .text {
      width: 60%;
      text-align: center;
    }

    .iconsWrapp {
      display: flex;
      justify-content: center;
      width: 200px;
      padding-top: 18px;
      border-top: 2px solid rgba(255, 255, 255, 0.1);
      margin-top: 35px !important;
      cursor: pointer;
      z-index: 1;

      .img {
        margin-right: 15px;

        &:hover path {
          fill: blue;
        }
      }
    }
  }
}
