body:global(.light) .quizesWrapper {
  h1 {
    font-size: 51px;
    line-height: 66px;
  }
}

.filter {
  width: 318px;
}
.quizesWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 89px;

  h1 {
    font-size: 51px;
    line-height: 66px;
    width: 33.33%;
    margin-top: 100px;
  }
}

.wrapper {
  display: flex;
}

.productsWrapper {
  width: calc(100% - 318px);
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  margin-top: 90px;
}

@media (max-width: 1665px) {
  .quizesWrapper {
    h1 {
      width: 60%;
    }
  }
}

@media (max-width: 1365px) {
  .quizesWrapper {
    h1 {
      width: 70%;
    }
  }
}

@media (max-width: 1025px) {
  .products {
    display: flex;
  }
  .quizesWrapper {
    h1 {
      width: 80%;
    }
  }
}

@media (max-width: 767px) {
  .quizesWrapper {
    gap: 55px;
    h1 {
      width: 100%;
      font-size: 34px;
    }
  }
  .products {
    width: 100%;
    margin-top: 55px;
    justify-content: space-between;
  }
  .wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .productsWrapper {
    width: 100%;
  }
}

@media (max-width: 514px) {
  .products {
    width: 100%;
    margin: 30px 0 200px 0;
  }
}
