@import "../../variables.scss";

.orangeBtn {
  &:hover {
    background-color: $c-orange;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;

  &:hover {
    background: transparent;
  }
}

// .btn {
//     border: none;
//     background: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 4px;
//     width: 100%;
//   }

//   ///active

//   .orange {
//     color: white !important;
//     background: #ff7152;

//     &:hover {
//       color: white;
//       background: linear-gradient(0deg,
//           rgba(0, 5, 15, 0.35),
//           rgba(0, 5, 15, 0.35)),
//         #ff7152;
//     }
//   }

//   .withoutColor {
//     color: white;
//     border: none;

//     &:hover {
//       color: white;
//       background: linear-gradient(0deg,
//           rgba(0, 5, 15, 0.35),
//           rgba(0, 5, 15, 0.35)),
//         #0500ff;
//     }
//   }

//   .blue {
//     color: white;
//     background-color: #0500ff;

//     &:hover {
//       color: white;
//       background: linear-gradient(0deg,
//           rgba(0, 5, 15, 0.35),
//           rgba(0, 5, 15, 0.35)),
//         #0500ff;
//     }
//   }

//   .Socials {
//     border: 1px solid #7497d7;
//     columns: #4786ff;

//     &:hover {
//       background-color: #4786ff;
//     }
//   }

//   .cardButton {
//     color: white;
//     border: 1px solid white;

//     &:hover {
//       color: white;
//       background: rgba(255, 255, 255, 0.1);
//     }
//   }

//   //secondary

//   .secondaryBlue {
//     border: 1px solid #0500ff;
//     color: white;
//   }

//   .secondaryOrange {
//     border: 1px solid #ff7152;
//     color: white;
//   }

//   .secondaryDisable {
//     border: 1px solid #4d5057;
//     columns: #808287;
//   }

//   .cardButtonDisable {
//     border: 1px solid #e5e5e5;
//     color: #808287;
//   }

//   //size

//   .btn-sm {
//     height: 32px;
//   }

//   .btn-pass {
//     height: 42px;
//   }

//   .btn-big {
//     height: 55px;
//   }
