@import "../../variables.scss";
body:global(.light) .orangeBtn {
  &:hover {
    color: #000;
  }
}

body:global(.light) .transparentBtn {
  a {
    color: $c-dirty-grey !important;
    &:hover {
      color: $c-orange !important;
    }
  }
  border: 1px solid $c-dark;
  &:hover {
    border: 1px solid $c-orange;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.transparentBtn {
  background-color: transparent;
  padding: 14px 40px;
  text-align: center;
  // margin-top: 50px;
  border: 1px solid $c-white;
  border-radius: 4px;
}

.transparentBtn:hover {
  border: 1px solid $c-orange;

  a {
    color: $c-orange !important;
  }
}

.blueBtn {
  height: 44px;
  padding: 16px;
  background-color: $c-blue;
  border: 1px solid $c-blue;
  border-radius: 4px;

  &:hover {
    background-color: rgba(5, 0, 255, 0.7);
  }
}
.orangeBtn {
  border: 1px solid #ff7152;
  height: 42px;
  padding: 0 22px;
  background-color: #ff7152;
  border-radius: 4px;
  &:hover {
    background-color: transparent;
  }
}
.whiteBtn {
  border: 1px solid #fff;
  height: 42px;
  padding: 0 22px;
  background-color: #fff;
  color: #ff7152;
  border-radius: 4px;
  &:hover {
    background-color: transparent;
    color: #fff;
  }
}
.modifiedBtn {
  margin-top: 100px;
  width: 318px;
}

@media (max-width: 400px) {
  .orangeBtn,
  .whiteBtn {
    padding: 0 8px;
  }
}
