@import "../../variables.scss";
body:global(.light) .orangeBtn {
  &:hover {
    color: #000;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.transparentBtn {
  background-color: transparent;
  padding: 14px 40px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid $c-white;
  border-radius: 4px;

  &:hover {
    border: 1px solid $c-orange;
    color: $c-orange;
  }
}
.blueBtn {
  height: 44px;
  padding: 16px;
  background-color: $c-blue;
  border: 1px solid $c-blue;
  border-radius: 4px;

  &:hover {
    background-color: rgba(5, 0, 255, 0.7);
  }
}
.orangeBtn {
  border: 1px solid #ff7152;
  height: 42px;
  padding: 0 22px;
  background-color: #ff7152;
  border-radius: 4px;
  &:hover {
    background-color: transparent;
  }
}
.modifiedBtn {
  margin-top: 100px;
  width: 318px;
}
