@import "../../variables.scss";

body:global(.light) .outer {
  .courseCard {
    background-color: transparent;

    .bottom {
      p {
        color: $c-dark;
      }

      h4 {
        color: $c-orange;
      }
    }

    .row {
      .rowItem {
        color: $c-dark;

        svg path {
          fill: $c-dark;
        }
      }
    }
  }
}
.outer {
  width: calc((100% - 60px) / 3);

  .courseCard {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    background: rgba(17, 24, 38, 0.3);
    cursor: pointer;

    &:hover {
      .top {
        .img {
          transform: scale(1.02);
        }
      }
    }

    .top {
      position: relative;
      width: 100%;
      padding-top: 70%;

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .bottom {
      margin-top: 16px;

      p {
        color: $c-white;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      h4 {
        margin-top: 16px;
        font-size: 20px;
        color: $c-orange;
      }
    }

    .row {
      display: flex;
      width: 100%;
      gap: 15px;
      margin-top: 55px;

      .rowItem {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 1365px) {
  .outer {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 767px) {
  .outer {
    width: 100%;
  }
}
