@import "../../variables.scss";

.courseCard {
  position: relative;
  width: calc((100% - 60px) / 3);
  height: 100%;
  max-height: 473px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
