@import "../variables.scss";

body:global(.light) .getStarted {
  .gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(211, 222, 245, 0.5) 0%,
      rgba(211, 222, 245, 0) 100%
    );
  }
}

.getStarted {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
  }

  .content {
    width: 100%;
    max-width: 1920px;
    padding: 55px 40px;
  }

  .gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #000f2e 0%,
      rgba(0, 5, 15, 0) 100%
    );
  }
}

@media (max-width: 1023px) {
  .getStarted {
    .content {
      padding: 55px 32px;
    }
  }
}

@media (max-width: 767px) {
  .getStarted {
    .content {
      padding: 55px 16px;
    }
  }
}
