.paginationInner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.paginationInner div {
    color: #9c9da3;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.paginationInner div:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}
.paginationSvg path {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.prev:hover svg path {
    stroke: #fff;
} 
  
.next:hover svg path {
    stroke: #fff;
}

.activeElement {
    background-color: #0500ff !important;
    color: #fff !important;
    border-radius: 4px;
}


.disabled {
    opacity: 0.2;
    pointer-events: none;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

@media (max-width: 767px) {
    .paginationInner div {
        color: #9c9da3;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
}
  