@import "../variables.scss";

body:global(.light) .banner {
  background-color: $c-white;
}

.banner {
  background-color: #0d121c;
  padding: 55px 0px;

  .blockquote {
    color: $c-secondary;
    @extend %mediumSmall;
  }
}
