@import "../variables.scss";

body:global(.light) .itemTitle {
  color: $c-dark;
}

.Ending {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 150px;
  padding-top: 150px;

  .EndingItem {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .itemTeaser {
      padding-top: 20px;
      padding-bottom: 20px;
      color: $c-grey;
    }

    .itemHotLink {
      color: $c-orange;
      cursor: pointer;
      transition: 0.5s;
      width: fit-content !important;
      text-align: start;
    }

    .itemHotLink:hover {
      color: $c-blue;
    }
  }
}

@media (max-width: 1023px) {
  .Ending {
    padding-top: 0px;
  }
}
