@import "../variables.scss";

body:global(.light) .paragraphBig {
  color: $c-dark;
}
body:global(.light) .headBackgroundWrap .head .paragraphSml {
  color: $c-dark;
}
body:global(.light) .bgL {
  opacity: 1;
}

body:global(.light) .bg {
  opacity: 0;
}

.headBackgroundWrap {
  position: relative;
  width: 100%;
  height: 500px;
  padding-bottom: 60px;

  .headBackground {
    position: absolute;
    top: -25%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
  }

  .bg {
    opacity: 1;
  }

  .bgL {
    opacity: 0;
  }

  .head {
    display: flex;
    flex-direction: column;
    padding-top: 130px;

    .paragraphSml {
      padding-bottom: 30px;
      @extend %mediumSmall;
    }

    .paragraphBig {
      @extend %largest;
    }

    .paragraphBig span {
      @extend %largest;
      color: $bg-orange;
      text-transform: capitalize;
    }
  }
}
