body:global(.light) .decorBoxWrap {
  border: 1px solid #cccdcf !important;
}

body:global(.light) .decorBoxWrapGreen {
  border: 1px solid #cccdcf !important;
}

.decorBoxWrap {
  position: absolute;
  border: 1px solid #111826;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.decorBox {
  position: absolute;
  width: 24px;
  height: 24px;
}

.decorBox__topLeft {
  left: -1px;
  top: -1px;
}

.decorBox__topLeft__top {
  position: absolute;
  background: linear-gradient(90deg, #7060ce 0%, rgba(112, 97, 207, 0) 100%);
  width: 25px;
  height: 1px;
  top: 0;
  left: 0;
}

.decorBox__topLeft__left {
  position: absolute;
  background: linear-gradient(180deg, #7060ce 0%, rgba(112, 97, 207, 0) 100%);
  width: 1px;
  height: 25px;
  top: 0;
  left: 0;
}

.decorBox__topRight {
  right: -1px;
  top: -1px;
}

.decorBox__topRight__top {
  position: absolute;
  background: linear-gradient(90deg, rgba(112, 97, 207, 0) 0%, #7060ce 100%);
  width: 25px;
  height: 1px;
  top: 0;
  right: 0;
}

.decorBox__topRight__right {
  position: absolute;
  background: linear-gradient(180deg, #7060ce 0%, rgba(112, 97, 207, 0) 100%);
  width: 1px;
  height: 25px;
  top: 0;
  right: -1px;
}

.decorBox__bottomRight {
  right: -1px;
  bottom: -1px;
}

.decorBox__bottomRight__bottom {
  position: absolute;
  background: linear-gradient(90deg, rgba(112, 97, 207, 0) 0%, #7060ce 100%);
  width: 25px;
  height: 1px;
  bottom: 0;
  right: 0;
}

.decorBox__bottomRight__right {
  position: absolute;
  background: linear-gradient(180deg, rgba(112, 97, 207, 0) 0%, #7060ce 100%);
  width: 1px;
  height: 25px;
  top: -1px;
  right: -1px;
}

.decorBox__bottomLeft {
  left: -1px;
  bottom: -1px;
}

.decorBox__bottomLeft__bottom {
  position: absolute;
  background: linear-gradient(90deg, #7060ce 0%, rgba(112, 97, 207, 0) 100%);
  width: 25px;
  height: 1px;
  bottom: 0;
  right: -1px;
}

.decorBox__bottomLeft__left {
  position: absolute;
  background: linear-gradient(180deg, rgba(112, 97, 207, 0) 0%, #7060ce 100%);
  width: 1px;
  height: 25px;
  top: -1px;
  left: 0;
}

/* CornerDecorTop */
.decorBoxWrapTop {
  position: absolute;
  border: 1px solid;
  border-image: linear-gradient(rgba(17, 24, 38, 0), #111826) 30;
  pointer-events: none;
  /* z-index: -1; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: none;
}

/* CornerDecorGreen */
.decorBoxWrapGreen {
  position: absolute;
  border: 1px solid;
  border-image: linear-gradient(rgba(17, 24, 38, 0), #111826) 30;
  pointer-events: none;
  /* z-index: -1; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: none;
}

.decorBoxGreen {
  position: absolute;
  width: 24px;
  height: 24px;
}

.decorBoxGreen__bottomLeft {
  left: -1px;
  bottom: -1px;
}

.decorBoxGreen__bottomRight {
  right: -1px;
  bottom: -1px;
}

.decorBoxGreen__bottomRight__bottom {
  position: absolute;
  background: linear-gradient(90deg, rgba(112, 97, 207, 0) 0%, #4fbd7b 100%);
  width: 25px;
  height: 1px;
  bottom: 0;
  right: 0;
}

.decorBoxGreen__bottomRight__right {
  position: absolute;
  background: linear-gradient(180deg, rgba(112, 97, 207, 0) 0%, #4fbd7b 100%);
  width: 1px;
  height: 25px;
  top: -1px;
  right: -1px;
}

.decorBoxGreenx__bottomLeft {
  left: -1px;
  bottom: -1px;
}

.decorBoxGreen__bottomLeft__bottom {
  position: absolute;
  background: linear-gradient(90deg, #4fbd7b 0%, rgba(79, 189, 123, 0) 100%);
  width: 25px;
  height: 1px;
  bottom: 0;
  right: -1px;
}

.decorBoxGreen__bottomLeft__left {
  position: absolute;
  background: linear-gradient(180deg, rgba(79, 189, 123, 0) 0%, #4fbd7b 100%);
  width: 1px;
  height: 25px;
  top: -1px;
  left: 0;
}
