@import "../variables.scss";

body:global(.light) .contact {
  .contactContent {
    .title {
      h1 {
        color: $c-dark;
      }
      h5 {
        color: $c-dirty-grey;
      }
    }

    .contactBox {
      label {
        color: rgba(0, 5, 15, 0.5);
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
      }

      ::placeholder {
        color: rgba(0, 5, 15, 0.3);
      }

      input,
      textarea {
        border: 1px solid rgba(128, 130, 135, 0.1);
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
      }

      textarea:focus,
      input:focus {
        border-color: #0500ff;
      }

      textarea:focus ~ label,
      input:focus ~ label {
        color: #0500ff;
      }
    }
  }
}

.contact {
  position: relative;
  padding: 150px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -11%;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
  .contactContent {
    width: 85%;
    height: auto;
    // padding: 150px 121px 150px 121px;
    display: flex;
    justify-content: center;
    .title {
      // width: calc(53% - 15px);

      margin-right: 100px;

      h1 {
        font-size: 51px;
        line-height: 61px;
        line-break: strict;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      h5 {
        color: #6f7178;
        font-size: 30px;
        line-height: 48px;
      }
    }

    .contactBox {
      display: flex;
      flex-direction: column;
      width: calc(47% - 15px);
      gap: 30px;
    }
  }
}

@media (max-width: 3365px) {
  .contact {
    .contactContent {
      width: 90%;
      .title {
        margin-right: 50px;
      }
    }
  }
}

/*Ipad Pro 1024*/
@media (max-width: 1200px) {
  // .contact {
  //   padding: 144px 120px 120px 144px;
  // }
}

/*Ipad 768*/
@media (max-width: 1023px) {
  .contact {
    .contactContent {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 80px;
      .title {
        width: 100%;
      }
      .contactBox {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

/*Mobile 320*/
@media (max-width: 767px) {
  .contact {
    padding: 100px 0px;
    .contactContent {
      .contactBox {
        width: 100%;
      }
    }
  }
}
