@import "../../variables.scss";
body:global(.light) .quizStructure {
  .inner {
    .swiper {
      & div div p {
        color: $c-dirty-grey;
      }

      & div .light circle {
        stroke: $c-dark;
      }
      div div {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    .outer {
      .marquee {
        & div svg path {
          stroke: $c-dark;
        }
      }
    }

    .controller {
      & div svg path {
        fill: $c-dark;
      }
    }
  }
}
.quizStructure {
  position: relative;
  margin-top: 150px;
  width: 100%;
  height: 300px;
  .inner {
    width: 100%;
  }

  .swiper {
    display: flex;
    align-items: center;
    width: 100%;

    & div div:first-child {
      margin-top: -8px;
      z-index: 999;
    }
    & div div {
      margin-top: 25px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    & div div:last-child {
      border: 1px solid $c-white;
      border-radius: 50px;
      width: 80px !important;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      cursor: pointer;
      background-color: #00050f;
      z-index: 999;
      color: $c-orange;
      margin: 0px;
    }
  }
  .outer {
    .buttons {
      display: flex;
      gap: 30px;
      align-items: center;
      div {
        left: auto;
        right: auto;
      }
    }
    .gradientF {
      position: absolute;
      top: -35px;
      right: 0;
      width: 245px;
      height: 150px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 55%
      );
    }
    .gradientB {
      position: absolute;
      top: -35px;
      left: 0;
      width: 245px;
      height: 150px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 55%,
        rgba(255, 255, 255, 0) 100%
      );
    }
    .marquee {
      position: absolute;
      top: 30px;
      left: 0;
      z-index: -1;
    }
  }
  .controller {
    width: 100%;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    & div {
      width: 40px;
      height: 33px;
      cursor: pointer;

      & svg {
        transition: 0.5s;
        & path {
          transition: 0.5s;
        }
      }

      &:hover svg path {
        fill: $c-orange;
      }
    }
  }
}
