@import "../../variables.scss";

body:global(.light) .lightLogo {
  display: none !important;
}

body:global(.light) .darkLogo {
  display: flex !important;
}

body:global(.light) {
  .mobNavigation {
    .bottomLogo {
      .icons {
        .lightIcons {
          .socialIcon {
            fill: $c-white;

            &:hover {
              fill: $c-blue;
            }
          }
        }
      }
    }
  }
}

.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .input {
    display: block;
    cursor: pointer;
    display: none;
  }
  .marker {
    display: flex;
    width: 100%;
    cursor: pointer;

    .lightLogo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: 0.8s;
      margin-right: 16px;
    }

    .darkLogo {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: 0.8s;
      margin-right: 16px;
    }
  }
  .input:checked ~ .marker {
    cursor: pointer;
  }
  .themes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .mode {
      margin-right: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      line-height: 22px;
      pointer-events: all;
    }
    svg {
      margin-right: 0px;
      margin-left: 0px;
      margin-right: 16px;
    }

    &:hover svg path {
      fill: $c-orange !important;
    }
  }
}

.mobNavigation {
  background-color: $bg-orange;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  padding: 30px 0px 30px 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 999;

  ul:first-child {
    margin-top: 20px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 16px 0px 16px;

    .logo {
      width: 120px;
      height: 27px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .connectBtnWrap {
      position: relative;
      margin-right: 0;
      margin-left: auto;
      .connectBtn {
        flex: none;
        display: flex;
        align-items: center;
        padding: 10px 22px;
        border-radius: 4px;
        border: 1px solid $bg-orange;
        background: #fff;
        transition: 0.4s;
        margin-right: 16px;
        span {
          color: $c-orange;
          &:hover {
            color: $c-white;
          }
        }

        &.connected,
        &:hover {
          background: transparent;
          border: 1px solid $c-white;
        }

        &.connected .arrow {
          display: block;
          transition: 0.4s;
        }
        &.connected:hover .arrow {
          transform: rotate(180deg);
        }
      }
    }
    .arrow {
      margin-left: 5px;
    }

    .ttl {
      font-size: $f-medium;
    }

    .closeModal {
      display: flex;
      gap: 20px;
      .close {
        cursor: pointer;
      }
      path {
        transition: 0.4s;
      }

      .close:hover path {
        stroke: $c-dark;
      }

      > .orangeBtn {
        background-color: #fff;
      }
    }
  }

  .list {
    display: flex;
    width: 100%;
    flex-direction: column;

    .listItem a {
      display: flex;
      width: 100%;
      cursor: pointer;
      padding: 22px 0px 22px 16px;

      &:hover {
        background: rgba(255, 140, 115, 1);
      }
    }

    .listItem {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;

      .accordion {
        position: relative;
        width: 100%;

        .container {
          width: 100%;
          z-index: 5;
          margin: 0 auto;

          .expandItem {
            padding: 22px 16px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;

            &:hover {
              background: rgba(255, 140, 115, 1);
            }

            .toggle {
              &.active span .arrow {
                transform: rotate(180deg);
              }
              .itemSvg {
                margin-right: 5px;
                .arrow {
                  transition: 0.4s;
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }

          .itemOuter {
            // background-color: red;
            .paragraph {
              width: 100%;
              cursor: pointer;
              text-transform: capitalize;

              &:hover {
                background: rgba(255, 140, 115, 1);
              }
            }
          }
        }
      }
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  .item {
    @extend %mediumSmall;
    line-height: 20px;
    transition: 0.4s;
    border-bottom: #fff;

    .lightMode {
      display: flex;
      align-items: center;
      cursor: initial;
      justify-content: space-between;

      .mode {
        margin-right: 17px;
        @extend %mediumSmall;
        line-height: 20px;
        transition: 0.4s;
      }
    }
  }
  .item:hover,
  .item.active {
    color: $c-orange;
  }

  .bottomLogo {
    margin-top: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bottomTitle {
      margin-top: 30px;
    }
    .icons {
      .lightIcons {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        svg {
          transition: 0.5s cubic-bezier(0.79, 0.01, 0.15, 0.99);
          &:hover {
            fill: $c-blue;
          }
        }
        .socialIcon {
          fill: #00050f;
        }
      }
    }
    .copyrightbottom {
      margin-top: 30px;
      text-align: center;
    }
  }
}
