.quizButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 22px;
  color: #ff7152;
}
