.viewContent {
  width: calc(100% - 275px);
  margin-left: 275px;
  padding-bottom: 120px;
}

.headerViewContent {
  padding-top: 120px;
}

// @media (max-width: 1023px) {
//   .viewContent {
//   }
// }

@media (max-width: 768px) {
  .viewContent {
    margin-left: 0;
    width: 100%;
  }
}
