@import "../variables.scss";

.sideBar {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: flex-start;
  height: 100%;
  width: 100%;

  .sidebarWrap {
    &:last-child {
      margin-bottom: 0px;
    }

    .activeTabs {
      display: flex;
      align-items: center;
      gap: 12px;
      width: calc(100% + 2px);
      transition: 0.6s;
      cursor: pointer;
      margin-bottom: 32px;
      border-width: 2px;
      border-style: solid;
      border-left: 0;
      border-image: linear-gradient(
          rgba(5, 0, 255, 0),
          rgba(5, 0, 255, 1),
          rgba(5, 0, 255, 0)
        )
        0 100%;
      .iconSelected path {
        stroke: blue;
      }
    }

    .sideBarContent {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      transition: 0.6s;
      cursor: pointer;
      margin-bottom: 32px;

      &:hover p {
        color: rgba(255, 255, 255, 1) !important;
      }

      &:hover svg path {
        stroke: rgba(255, 255, 255, 1);
      }
    }
  }

  .mainPage {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(150, 155, 166, 1);
  }
}

.onMobileScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  animation: slideupp 0.6s linear;

  .sidebarWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .activeTabs {
      .iconSelected path {
        stroke:blue ;
      }
    }

    .sideBarContent {
      width: 100%;
      display: flex;
      // justify-content: center;
      gap: 15px;
      cursor: pointer;

      // .iconSelected path {
      //   stroke:blue ;
      // }

      svg {
        height: 25px;
        width: 25px;
      }

      &:hover .sidebarList {
        color: blue !important;
      }

      &:hover svg path {
        stroke: blue;
      }
      .sidebarList {
        font-size: 28px;
      }
    }
  }
  .mainPage {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px !important;
  }
}

@keyframes slideupp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body:global(.light) .sideBar {
  .sidebarWrap {
    .activeTabs {
      .iconSelected path {
        stroke: $c-blue;
      }
    }
    .sideBarContent {
      &:hover svg path {
        stroke: blue;
      }
      .iconSelected {
        color: $c-dark;
      }
      .sidebarList {
        color: #808287;
      }

      svg path {
        stroke: $c-dark;
      }
    }
  }
  .mainPage {
    color: #808287;
    svg path {
      fill: $c-dark;
    }
  }
}

body:global(.light) .sideBar {
  border-right: 1px solid #cccdcf;
}


// @media (max-width: 767px) {
//   .sideBar {
//    justify-content: flex-start;
//   }
// }
