@import "../variables.scss";

body:global(.light) {
  .newInput{
    border: 1px solid rgba(0, 5, 15, 0.1);
    color: $c-dark;
  }

}

body:global(.light) .form {
  svg path {
    fill: $c-dark;
    stroke: $c-dark;
  }
  .addButton {
    color: $c-dark;
  }
  :nth-child(4) svg path {
    fill: none;
  }
  .addButton:hover {
    color: $c-blue;
  }
}

.form {
  display: flex;
  flex-direction: column;
  transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-top: 20px;
  gap: 44px;

  svg path {
    fill: $c-white;
  }

  div:hover svg path {
    stroke: $c-blue;
    fill: $c-blue;
  }
  :nth-child(4):hover svg path {
    fill: none;
  }

  :nth-child(4) svg path {
    fill: none;
  }

  &:hover:nth-child(4) svg path {
    fill: none;
  }

  .addButton {
    margin-bottom: 44px;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }
  }

  .addButton:hover svg path {
    stroke: $c-blue;
  }

  .addButton:hover {
    color: $c-blue;
  }
  .newInput {
    border: 1px solid #060d1e;
    height: 44px;
    width: 100%;
    padding-left: 10px;
    font-size: 12px;
    background-color: transparent;
    transition: border 0.5s;
    transition-delay: 0.1s;
  }
  .newInput:focus-within {
    border: 1px solid #0500ff;
  }
}
