@import "../variables.scss";



.form {
  display: flex;
  flex-direction: column;
  transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-top: 20px;
  gap: 44px;

  .addButton {
    margin-bottom: 44px;
    cursor: pointer;
  }

  .addButton:hover svg path {
    stroke: $c-blue;
  }

  .addButton:hover {
    color: $c-blue;
  }
}