@import "../../../styles/variables.scss";

body:global(.light) .outer {
  border: 1px solid $c-dirty-grey;
}

.outer {
  margin: 100px 0px 100px 0px;
  border: 1px solid #192233;
  border-left: none;
  border-right: none !important;
  transition: 0.8s;
  background: transparent;

  .inner {
    padding: 55px 0px 55px 0px;
  }
}

@media (max-width: 767px) {
  .outer {
    .inner {
      padding: 34px 0px;
      svg {
        margin: 0px 15px 0px 15px !important;
        height: 31px;
        width: 40%;
      }
    }
  }
}

@media (max-width: 414px) {
  .outer {
    .inner {
      padding: 28px 0px;
      svg {
        margin: 0px 13px 0px 13px !important;
        height: 25px;
      }
    }
  }
}
