@import "../variables.scss";

body:global(.light) .greenBanner {
  background-color: $c-white;

  .subTitle {
    color: $c-dark;
  }

  .text {
    color: #808287;
  }
}

.greenBanner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0d121e;
  z-index: 111;
  margin: 150px 0 0 0;
  padding: 89px 40px;

  .backgroundImg {
    position: absolute;
    z-index: -1;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  .subTitle {
    font-size: 30px;
    line-height: 44px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 42px;
  }

  .orangBtn {
    width: 200px;
    @extend %medium;
    padding: 10px 30px;
    margin-top: auto;
    border-radius: 4px;
    background-color: $bg-orange;
    text-align: center;
    color: $c-white;
    transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.95);
    cursor: pointer;

    &:hover {
      background-color: #a64c3a;
    }
  }
}

@media (max-width: 1023px) {
  .greenBanner {
    padding: 89px 32px;
  }
  .subTltLigth {
    font-size: 30px !important;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .greenBanner {
    padding: 89px 16px;
  }
  .subTltLigth {
    font-size: 28px !important;
    text-align: center;
  }
}
