@import "../../../styles/variables.scss";

%lightmode {
  color: black;
}

body:global(.light) .filter h4 {
  @extend%lightmode;
}

:global(.light) .svgLightMode path {
  color: #131a26;
}

:global(.light) .svgLightmode2 path {
  color: #131a26;
}

.svgRed path {
  color: red;
}

body:global(.light) .filter .label {
  @extend%lightmode;
}

body:global(.light) .filter span {
  color: grey;
}

body:global(.light) .btnTxt {
  color: black;
}

body:global(.light) .filterMainWrapp .FilterButton p {
  color: black;
}

body:global(.light) .filterMainWrapp .filterWrapp .filter .checkBox .mark {
  background-color: white;
  outline: 1px solid grey;
}

.filterMainWrapp,
.dropdown {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
  transition: 0.8s;
  transition-timing-function: ease-out;
  max-height: 2000px;
  height: fit-content;

  .FilterButton {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #d2d2d21a;
    display: none;

    cursor: pointer;
    z-index: 566444;
    position: relative;

    .svgWrapp {
      transition: 0.8s;
    }
  }
  .filterWrapp {
    overflow: hidden;
    position: relative;
    z-index: 5;

    .filter {
      width: 100%;
      background: rgba(210, 210, 210, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 30px;
      height: 100%;
      gap: 30px;

      .item {
        display: flex;
        flex-direction: column;

        .checkBox {
          margin-top: 20px;

          .label {
            display: flex;
            padding-top: 2px;
          }

          .label span {
            padding-left: 3px;
          }

          .checkBox__inner {
            display: block;
            position: relative;
            padding-left: 40px;
            width: fit-content;
            cursor: pointer;
            font-size: 20px;
            height: 22px;
          }

          .mark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #28282c;
            border-radius: 4px;
            transition: 0.5s;
          }

          .mark:after {
            content: "";
            display: none;
          }

          .checkBox__inner input:checked ~ .mark:after {
            display: block;
          }

          .checkBox__inner .mark:after {
            left: 8px;
            margin-top: 3.5px;
            height: 6px;
            width: 10px;
            margin-left: 4px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(-47deg) rotateY(180deg);
          }

          .checkBox__inner input:checked ~ .mark {
            background-color: #0500ff;
          }
        }
      }
      .resetBtn {
        width: 100%;
        border: 1px solid $c-blue;
        border-radius: 4px;
        background-color: transparent;
        text-align: center;
        padding: 7px 0px;
        transition: 0.5s;
        cursor: pointer;
      }

      .resetBtn:hover {
        border: 1px solid $c-orange;
      }
    }
  }
}

@media (max-width: 1025px) {
  .filterMainWrapp {
    width: calc((100% + 30px) / 3);

    .filter {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .dropdown {
    height: fit-content;
    margin: 0 auto;
    width: 100%;

    .filter {
      width: 100%;
    }

    .FilterButton {
      display: flex;
    }
  }
  .filterMainWrapp {
    max-height: 80px;
    margin: 0 auto;
    width: 100%;

    .filter {
      width: 100%;
    }

    .FilterButton {
      display: flex;
    }
  }
}
@media (max-width: 667px) {
  .filterMainWrapp {
    width: 100%;
  }
}
@media (max-width: 514px) {
}
