@import "../../variables.scss";

.topRight {
  top: 20px;
  right: 20px;
  position: absolute;
}
.topRightHead {
  top: 95px;
  right: 20px;
  position: absolute;
}
.toast.animate {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.toast {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto; 
  gap: 16px;
  opacity: 0;
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  background-color: #00050F;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    div {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    .close {
      display: flex;
      cursor: pointer;
      transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);

      & path {
        transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
      }
      &:hover path {
        stroke: $c-blue;
      }
    }
  }
}
