//header
header {
  position: relative;
  z-index: 99;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  height: 90px;

  .right {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;

    .endOfHeader {
      display: flex;
      align-items: center;
      justify-content: center;

      .lightMode {
        margin-right: 16px;
        transition: 0.4s;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }
}

.header .navigation ul {
  display: flex;

  li {
    margin-right: 40px;

    .item {
      color: #ffffffb3;
    }
  }

  li:last-child {
    margin-right: 0;
  }

  li.topics {
    position: relative;

    .arrow {
      margin-left: 5px;
      transition: 0.4s;
    }

    .arrow path {
      transition: 0.4s;
    }
  }

  li.topics.active,
  li.topics:hover {
    .item {
      color: $c-orange;
    }

    .arrow {
      transform: rotate(180deg);
    }

    .arrow path {
      fill: $c-orange;
    }
  }

  .item {
    cursor: pointer;
    transition: 0.4s;
  }

  .item:hover,
  .item.active {
    color: $c-orange;
  }
}

.header {
  .burger {
    display: none;
    margin-left: 20px;
  }
}

.mob-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: $bg-orange;
  padding: 30px 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  ul:first-child {
    margin-top: 20px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .connect-btn-wrap {
      position: relative;
    }

    .connect-btn {
      flex: none;
      display: flex;
      align-items: center;
      padding: 10px 22px;
      border-radius: 4px;
      border: 1px solid $bg-orange;
      background: #fff;
      transition: 0.4s;
      margin-right: 16px;

      span {
        color: $c-orange;

        &:hover {
          color: $c-white;
        }
      }

      &.connected,
      &:hover {
        background: transparent;
        border: 1px solid $c-white;
      }

      &.connected .arrow {
        display: block;
        margin-left: 9px;
        transition: 0.4s;
      }

      &.connected:hover .arrow {
        transform: rotate(180deg);
      }
    }

    .ttl {
      font-size: $f-medium;
    }

    .close {
      cursor: pointer;
    }

    path {
      transition: 0.4s;
    }

    .close:hover path {
      stroke: $c-orange;
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    .list-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      cursor: initial;

      &:hover {
        background: rgba(255, 140, 115, 1);
      }
    }

    li {
      padding: 20px 0;

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(3) {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        padding-top: 20px;
        // &:hover {
        //    background-color: $bg-orange;
        // }

        .arrow {
          transition: 0.4s;
          cursor: pointer;
          margin-right: 0px;
          margin-left: auto;
        }

        .arrow path {
          transition: 0.4s;
        }

        .dropItem {
          cursor: pointer;
          transition: 0.4s;
          margin-right: 0px;
          margin-left: auto;

          &:hover,
          .active {
            color: $c-white;
          }
        }
      }

      .active {
        .dropItem {
          color: $c-blue;
        }

        .arrow {
          transform: rotate(180deg);
        }

        .arrow path {
          fill: $c-blue;
        }
      }

      .active:hover {
        .dropItem {
          color: $c-blue;
        }

        .arrow {
          transform: rotate(180deg);
        }

        .arrow path {
          fill: $c-orange;
        }
      }
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  .item {
    @extend %mediumSmall;
    line-height: 20px;
    transition: 0.4s;

    &:hover {
      background: rgba(255, 140, 115, 1);
    }

    border-bottom: #fff;

    .lightMode {
      display: flex;
      align-items: center;
      cursor: initial;

      .mode {
        margin-right: 17px;
        @extend %mediumSmall;
        line-height: 20px;
        transition: 0.4s;
      }
    }
  }

  .item:hover,
  .item.active {
    color: $c-orange;
  }

  @media (max-width: 412px) {
    & {
      width: 280px;
    }
  }

  .bottomLogo {
    margin-top: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mob-navigation-icons {
      margin-top: -14px;
    }

    .copyrightbottom {
      margin-top: 30px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

@media (max-width: 1023px) {
  .header-inner {
    .right {
      justify-content: flex-end;
    }

    .logo {
      margin-right: auto;
      left: 0;
      margin-left: 0;
    }

    .endOfHeader {
      .lightMode {
        display: none;
      }
    }
  }
}

@media (max-width: 1023px) {
  .header .burger {
    display: block;
  }

  .header-inner {
    .navigation {
      display: none;
    }
  }
}

//end of header

//toppics box

.topics-box {
  position: absolute;
  // right: 0;
  top: 75px;
  width: 330px;
  background: $c-dark-grey;
  padding: 30px 30px 20px 30px;
  border-radius: $border-radius;
  border: 1px solid #1b232f;

  &:after {
    position: absolute;
    content: "";
    left: 52px;
    top: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #131a26;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .tag-item {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #1c232f;
  }
}

//end of toppics box

// start of footer
.footer {
  margin-top: 100px;
  padding-top: 40px;
  background: $c-dark-blue;

  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .info {
    flex: none;
    width: 320px;
    padding-right: 60px;
    gap: 30px;

    .lightMode {
      display: flex;
      align-items: center;
      margin-top: 30px;

      .mode {
        color: rgba(194, 195, 197, 0.7);
        margin-right: 17px;
        font-size: 15px;
      }
    }

    .copyright {
      color: $c-grey;
      margin-top: 30px;
      font-size: 15px;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;

      .navTitle {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .link {
        color: $c-grey;
        margin-bottom: 10px;
        transition: 0.4s;
      }

      .link:hover {
        color: $c-orange;
      }

      .link:last-child {
        margin-bottom: 0;
      }
    }
  }

  .up-btn {
    position: absolute;
    top: 20px;
    right: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $c-white;
    transition: 0.4s;

    &:hover {
      border-color: $c-orange;
    }
  }

  .bottom {
    display: flex;
    margin-top: 90px;
    padding-top: 40px;
    border-top: 1px solid $c-dark-grey;

    .logo {
      flex: none;
    }

    .txt {
      padding-right: 60px;
      font-size: $f-smallest;
      color: $c-grey;
      line-height: 20px;
    }
  }
}

// end of footer

//wallect connect

//*btn
.connect-btn-wrap {
  position: relative;
}

.connect-btn {
  flex: none;
  display: flex;
  align-items: center;
  padding: 10px 22.5px;
  border-radius: 4px;
  border: 1px solid $bg-orange;
  background: $bg-orange;
  transition: 0.4s;

  &.connected,
  &:hover {
    background: transparent;
  }

  &.connected .arrow {
    display: block;
    margin-left: 9px;
    transition: 0.4s;
  }

  &.connected:hover .arrow {
    transform: rotate(180deg);
  }
}

//*info box
.wallet-info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  width: 260px;
  background: $c-dark-grey;
  padding: 16px 16px 20px 16px;
  border-radius: $border-radius;
  border: 1px solid #1b232f;

  &:after {
    position: absolute;
    content: "";
    right: 18px;
    top: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #131a26;
  }

  .ttl {
    font-size: $f-smallest;
    text-transform: uppercase;
  }

  .address {
    position: relative;
    display: flex;
    padding-right: 32px;
    margin-top: 20px;

    .icon {
      position: absolute;
      top: 2px;
      right: 0;
    }

    .icon path {
      transition: 0.4s;
    }

    &:hover path {
      fill: #898c93;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  .type {
    font-size: $f-smallest;
    color: #898c93;
  }

  .line {
    width: 100%;
    height: 1px;
    background: #1b232f;
    margin: 20px 0;
  }
}

//*modal
.connect-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    width: 500px;
    background: #fff;
    padding: 20px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 24px;
    border-bottom: 1px solid $c-light-grey;
  }

  .title {
    @extend %large;
    color: $c-dark;
  }

  .close {
    display: flex;

    path {
      transition: 0.4s;
    }

    &:hover path {
      stroke: $c-orange;
    }
  }

  button {
    color: $c-dark;
  }

  .list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 15px);
    min-height: 132px;
    border-radius: $border-radius;
    background: #000;
    background: $c-light-grey;
    padding: 16px;
    cursor: pointer;

    .ttl {
      color: $c-dark;
      font-size: $f-medium;
      margin-top: 16px;
    }
  }

  .message {
    display: flex;
    color: $c-orange;
    font-size: $f-smallest;
    margin-top: 8px;
  }
}

//end of wallet connect

//intro box
.intro-box {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.intro-box .left,
.intro-box .right {
  width: calc(50% - 15px);
}

.intro-box .title {
  @extend %largest;
}

.intro-box .title span {
  color: $c-orange;
  @extend %largest;
}

.intro-box .right {
  padding-left: 90px;
}

.intro-box .teaser {
  font-size: $f-medium;
  line-height: 34px;
}

@media (max-width: 1900px) {
}

@media (max-width: 1599px) {
}

@media (max-width: 1365px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .intro-box {
    display: flex;
    flex-direction: column;

    .left {
      width: 100%;
      text-align: center;
    }

    .right {
      width: 100%;
      text-align: center;
      padding: 30px 0px;
    }
  }
}

//features banner

.features-banner {
  margin-top: 80px;
  width: 100%;

  .inner {
    display: flex;
    background: $c-light-blue;
    padding: 40px;
    border-radius: 82px;
  }

  .item {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .content {
    margin-top: 15px;
  }

  .ttl {
    color: $c-white;
    font-size: 18px;
  }

  .teaser {
    color: $c-white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
  }
}

@media (max-width: 1900px) {
}

@media (max-width: 1599px) {
}

@media (max-width: 1365px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .features-banner {
    .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;

      .item {
        padding-top: 25px;
      }
    }
  }
}

//end of features banner

//articles (component)
body:global(.light) .articles .top {
  .title {
    color: $c-dark;
  }

  span {
    color: #4d5057;
  }
}

.articles {
  margin-top: 100px;
  position: relative;
}

.articles .top {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .title {
    @extend %large;
    text-transform: capitalize;
  }

  span {
    font-size: 15px;

    svg {
      margin-left: 10px;
    }
  }

  .explore-btn {
    margin-top: 12px;
  }
}

.articles .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  .item {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 16px;
  }

  .item:nth-child(3n) {
    margin-right: 0;
  }
}

.article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .cornerBorderDiv {
    display: flex;

    .cornerBorder {
      position: relative;
      width: 100%;
      height: 100%;

      .img-box {
        padding-top: 66.7%;
        overflow: hidden;
        background: #0a0f18;
        margin: 10px 10px 0px 10px;
      }

      .img-box-light {
        padding-top: 66.7%;
        overflow: hidden;
        background: #fff;
        margin: 10px 10px 0px 10px;
      }

      img {
        transition: 0.4s;
        padding: 10px 10px 0px;
      }

      &:hover img {
        transform: scale(1.02);
      }

      .pins {
        position: absolute;
        top: 17px;
        left: 16px;
        width: calc(100% - 32px);
        display: flex;
        flex-wrap: wrap;
      }

      .bottom {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 150px;

        .bottomTitle {
          background: #0a0f18;
          margin: 0px 10px 10px 10px;

          .ttl {
            line-height: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 16px 16px;
            min-height: 60px;
            align-items: flex-start;
          }
        }

        .bottomTitleLight {
          background: #fff;
          margin: 0px 10px 10px 10px;

          .ttl {
            line-height: 24px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            margin: 16px 16px;
            min-height: 60px;
            color: $c-dark;
          }
        }

        .bottomLevel {
          margin: auto 0;
          padding-left: 12px;
          display: flex;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;

          .itemDot {
            position: relative;
            font-size: 12px;
            padding-right: 15px;
            margin-right: 10px;
            margin-bottom: 16px;
            color: $c-white;
          }

          .itemDot:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $c-secondary;
          }

          .itemDot:last-child:after {
            display: none;
          }

          .itemDot:last-child {
            margin-right: 0;
            margin-right: 0;
          }

          .level {
            position: relative;
            margin-top: auto;
            padding-left: 12px;
            font-size: $f-smallest;
            text-transform: uppercase;
            color: $c-white;

            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 3px;
              left: 0;
              width: 8px;
              height: 8px;
              border-radius: 50%;
            }

            &.beginner:before {
              background: #259c55;
            }

            &.intermediate:before {
              background: #bb0ba9;
            }

            &.advance:before {
              background: #0b91bb;
            }

            &.pro:before {
              background: #ff7152;
            }
          }
        }
      }

      .bottomLevelLight {
        margin: auto 0;
        padding-left: 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .itemDot {
          position: relative;
          font-size: 12px;
          padding-right: 15px;
          margin-right: 10px;
          margin-bottom: 16px;
          color: $c-dark;
        }

        .itemDot:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $c-secondary;
        }

        .itemDot:last-child:after {
          display: none;
        }

        .itemDot:last-child {
          margin-right: 0;
          margin-right: 0;
        }

        .level {
          position: relative;
          margin-top: auto;
          padding-left: 12px;
          font-size: $f-smallest;
          text-transform: uppercase;
          color: $c-dark;

          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }

          &.beginner:before {
            background: #259c55;
          }

          &.intermediate:before {
            background: #bb0ba9;
          }

          &.advance:before {
            background: #0b91bb;
          }

          &.pro:before {
            background: #ff7152;
          }
        }
      }
    }
  }
}

@media (max-width: 1900px) {
}

@media (max-width: 1599px) {
}

@media (max-width: 1365px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .list {
    .item {
      width: 100%;
    }
  }
}

//glossaries (component)
.glossaries {
  margin-top: 100px;
}

.glossaries .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    @extend %larger;
    text-transform: capitalize;
  }

  .explore-btn {
    margin-top: 12px;
  }
}

.glossaries .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  .item {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 1900px) {
}

@media (max-width: 1599px) {
}

@media (max-width: 1365px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .glossaries {
    flex-direction: column;
    width: 100%;

    .top {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .item {
      width: 100%;
    }
  }
}

// glossary (component)

.glossary {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $bg-grey;
  padding: 16px 24px;
  cursor: pointer;

  .title {
    @extend %large;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .teaser {
    line-height: 24px;
    margin-top: 16px;
    padding-bottom: 20px;
  }

  .grey-btn {
    margin-top: auto;
  }
}

//articles page

.articles-page .top {
  .title {
    @extend %largest;
    text-align: center;
    margin-top: 161px;
  }

  .filter-by {
    margin-top: 89px;
    display: flex;
    justify-content: center;

    .wrap {
      display: flex;
      align-items: flex-start;
      margin-bottom: 12px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      padding-top: 30px;
      padding-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .wrap > .ttl {
      flex: none;
      font-size: $f-medium;
      letter-spacing: 0.1em;

      .slush {
        margin-left: 10px;
        margin-right: 10px;
        font-size: $f-medium;
      }
    }

    .wrap > .activeTtl {
      font-size: $f-medium;
      letter-spacing: 0.1em;
    }

    .wrap > .activeTtl::before {
      content: "";
      display: block;
      position: absolute;
      font-size: $f-medium;
      letter-spacing: 0.1em;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 34px;
      margin-left: 12px;
      transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
      display: none;
    }

    .list:checked {
      transition: all 1s;
    }

    .activeList {
      transition: 0.4s cubic-bezier(0.79, 0.01, 0.15, 0.99);
      display: block;
    }

    .wrap .item {
      margin-right: 16px;
      margin-top: 16px;
    }
  }
}

.articles-page .article-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;

  .item {
    display: flex;
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .item:nth-child(3n) {
    margin-right: 0;
  }
}

.articles-page .pagination {
  margin-top: 34px;
}

.pagination {
  margin-bottom: 89px;
}

// end of articles page

//start of artilce page

.article-page {
  .top .img-box {
    position: relative;
    width: 100%;
    padding-top: 56.5%;
    margin-top: 40px;
  }

  .back-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 50px;
  }

  .top .title {
    @extend %largest;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    .item {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }

    .icon {
      flex: none;
    }

    .value {
      display: flex;
      font-size: $f-smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
    }
  }

  .content {
    margin-top: 70px;
  }

  .explore-articles {
    margin-top: 140px;
  }
}

//end of article page

//start explore articles

.explore-articles {
  .title {
    @extend %largest;
    text-align: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    .item {
      width: calc(33.33% - 20px);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    .item:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1023px) {
  .explore-articles {
    .list {
      display: flex;
      flex-wrap: nowrap;
      width: 120%;

      .item {
        width: 45%;
      }
    }
  }
}

//end explore articles

//start of simple page
.simple-page {
  margin-top: 100px;

  .title {
    @extend %largest;
  }

  .subtitle {
    font-size: $f-large;
    margin-top: 24px;
  }

  .content {
    margin-top: 70px;
  }
}

// end of simple page

//start of not result

.not-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ttl {
    font-size: $f-largest;
  }

  .teaser {
    font-size: $f-medium;
    margin-top: 33px;
  }

  .icon {
    margin-top: 100px;
  }
}

// end of not result

//glossaries page
.glossaries-page {
  margin-top: 100px;

  .top {
    text-align: center;

    .title {
      @extend %largest;
    }

    .teaser {
      font-size: $f-large;
      margin-top: 24px;
    }
  }

  .search {
    margin-top: 30px;

    .letters {
      display: flex;
      flex-wrap: wrap;

      .item {
        display: block;
        font-size: $f-medium;
        text-transform: uppercase;
        margin-right: 16px;
        margin-bottom: 16px;
        cursor: pointer;
        transition: 0.4s;
      }

      .item:hover {
        color: $c-orange;
      }
    }
  }
}

.glossary-list {
  margin-top: 60px;

  .item {
    display: flex;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #111826;
  }

  .value {
    flex: none;
    width: 60px;
    display: flex;
    text-transform: uppercase;
    font-size: $f-largest;
  }

  .content-list {
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .content {
    transition: 0.4s;
    padding: 16px;
    margin-bottom: 34px;

    &:hover {
      background-color: #111826;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      font-size: $f-medium;
      line-height: 30px;
    }

    p {
      color: $c-secondary;
      margin-top: 8px;
      line-height: 24px;
    }
  }
}

//end of glossaries page

//start glossary page

.glossary-page {
  margin-top: 100px;

  .switcher-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  .title {
    @extend %largest;
    margin-top: 20px;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    .item {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding-right: 17px;
      margin-right: 12px;
      margin-bottom: 12px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: $c-secondary;
        border-radius: 50%;
      }

      &:last-child:after {
        display: none;
      }
    }

    .icon {
      flex: none;
    }

    .value {
      display: flex;
      font-size: $f-smallest;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 2px;
    }
  }

  .content {
    margin-top: 70px;
  }
}

//end of glossary page

.small-banner-box h2 {
  font-size: 80px;
}
