$bg-dark: #00050f;
$bg-grey: #131a26;
$bg-dark-grey: #191e27;
$bg-orange: #ff7152;
// $bg-blue: #151442;
$bg-blue: #0500ff;
$bg-hover-blue: #0501E7;
$c-white: #fff;
$c-secondary: #969ba6;
$c-secondaryGray: #b2b4b7;
$c-dark: #00050f;
$c-orange: #ff7152;
$c-blue: #0500ff;
$c-light-blue: #0c0a59;
$c-dark-blue: #010918;
$c-grey: #969ba6;
$c-dark-grey: #131a26;
$c-light-grey: #e5e5e5;
$c-dirty-grey: #808287;
$bg-light-grey: #e5e5e5; /// amas ver xedavs da jedavs

$border-radius: 4px;
$border-color: #111826;

$f-largest: 54px;
$f-larger: 44px;
$f-large: 30px;
$f-medium: 22px;
$f-mediumSmall: 16px;
$f-small: 14px;
$f-smallest: 12px;

//font sizes
%largest {
  font-size: 54px;
  line-height: normal;
  letter-spacing: normal;
}

%larger {
  font-size: 44px;
}

%large {
  font-size: 30px;
  line-height: normal;
}

%medium {
  font-size: 22px;
  line-height: normal;
}

%mediumSmall {
  font-size: 16px;
}

%small {
  font-size: 14px;
  line-height: normal;
}

%smallest {
  font-size: 12px;
  line-height: normal;
}

// @media(max-width: 1900px){
// }
// @media(max-width: 1599px){
// }
// @media(max-width: 1439px){
// }
@media (max-width: 1365px) {
  %largest {
    font-size: 30px;
  }

  %large {
    font-size: 25px;
  }
}

@media (max-width: 1023px) {
  // %largest {
  //     font-size: 44px;
  // }
  %larger {
    font-size: 30px;
  }

  %large {
    font-size: 28px;
  }

  %medium {
    font-size: 18px;
  }

  %mediumSmall {
    font-size: 16px;
  }

  %small {
    font-size: 14px;
  }

  %smallest {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  // %largest {
  //     font-size: 34px;
  // }
  %larger {
    font-size: 21px;
  }

  %large {
    font-size: 18px;
  }

  %medium {
    font-size: 14px;
  }

  %mediumSmall {
    font-size: 16px;
  }

  %small {
    font-size: 12px;
  }

  %smallest {
    font-size: 12px;
  }
}
