@import "../../variables.scss";

body:global(.light) .banner .body {

  .btnTwo {
    border: 1px solid $c-dark;
  }

  .bottom {
    .level {
      color: $c-dark;
    }

    .itemDot {
      color: $c-dark;
    }
  }

  .inputContainer {
    input {
      background-color: rgba(217, 217, 217, 0.05);
      border: 1px solid #b2b4b7;

      &::placeholder {
        color: $c-dark;
      }
    }
  }
}

// wrap

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.customTitle {
  inline-size: 800px;
  text-align: center;
  width: 100%;
}
.custom {
  position: inherit !important;
}
.banner {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .challengeHeight {
    min-height: 700px;
  }

  // coming soon
  .comingSoon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 17px;

    .teaser {
      color: $c-orange;
    }
  }
  // coming soon (end)

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 55px;
    .grey {
      color: #b2b4b7;
    }
    .teaser {
      margin-top: 13px;
    }

    .inputContainer {
      margin-bottom: 154px;
      margin-top: 34px;
      margin: 34px auto 154px auto;
      position: relative;
      max-width: 495px;
      width: 100%;

      .padding {
        padding-right: 122px !important;
      }

      .input {
        padding: 16px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.05);
        border: none;
        width: 100%;

        &::placeholder {
          color: $c-secondaryGray;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
