@import "../variables.scss";
.bannerWrap {
  position: relative;
  .stars {
    mix-blend-mode: color-dodge;
    // width: 100%;
    // height: 100%;
    top: -15%;
    min-height: 500px;
  }
}


.bannerWrap div div div h3,
body:global(.light) .bannerWrap div div div h3 {
  @extend %largest;
  text-align: center;
  line-height: 60px;
}

body:global(.light) .bannerWrap div div div div a {
  color: $c-dark;
}


