@import "../../variables.scss";
body:global(.light) .content {
  .tabsNav {
    .list {
      color: #808287;
    }

    .activeList {
      color: $c-dark;
      border-bottom: 2px solid $c-dark;
    }
  }
}

.content {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  .tabsNav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 30px;
    gap: 30px;
    height: 50px;
    text-align: center;

    .list {
      cursor: pointer;
      outline: none;
      color: #818388;
      line-height: 28px;
      font-size: 20px;
      height: 50px;
    }

    .activeList {
      font-size: 20px;
      line-height: 28px;
      border-bottom: 2px solid $c-white;
      color: $c-white;
      transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
      height: 50px;
    }
  }
  .tabsContent {
    margin-bottom: 55px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 24px;

    .tabsPara p {
      color: #969ba6;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1023px) {
  .content {
    .tabsNav {
      text-align: left;
    }
  }
}
